/* ejercicio Nº1 */ 
body {
    background-color: #222;
    color: #ee6;
}
/* ejercicio Nº2 */ 
h1 {
    text-align: center;
}
/* ejercico Nº3 */
p {
    font-family: sans-serif;
}
/* ejercicio Nº4 */
h2, h3 {
    color: #eee;
}
/* ejercicio Nº5 */
strong {
    border-color: white;
}
/* ejercicio Nº6 */
.the-force {
    background-color: #444;
    font-weight: 500;
}
/* ejercicio Nº7 */
.light-side {
    color: #66f;
}
.dark-side {
    color: #f33;
}
/* ejercicio Nº8 */
#og-trilogy {
    list-style-type: circle;
}
/* ejercicio Nº9 */
.movies-list:nth-of-type(2) {
    padding-left: 150px;
}
/* ejercicio Nº10 */
.movies-list:nth-of-type(3) li:last-child {
    margin-top: 15px;
}
/* ejercicio Nº11 */
h1, h2, h3 {
    text-transform: uppercase;
}
/* ejercicio Nº12 */
p:first-line {
    color: #efe;
}
/* ejercicio Nº13 */
h1:hover {
    color: #66f;
}
/* ejercicio Nº14 */
a:visited {
    color: grey;
}
/* ejercicio Nº15 */
a:not([href]) {
    font-family: cursive;
}
/* ejercicio Nº16 */
.movies-list li:nth-child(even) {
    /* pares */
    background-color: #111;
}
.movies-list li:nth-child(odd) {
    /* impares */ 
    background-color: #333;
}