body {
    background-color: #212121;
    color: white;
}
.card-pokemon {
    background-color: #212121;
    color: white;
    border-color: grey;
    margin-bottom: 20px;
}
.card-pokemon:hover {
    background-color: #424242;
    color: black;
    button {
        background-color: grey;
        color: black;   
    }
}